a {
    color: black;
    
}
.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,80,19,0.969625350140056) 16%, rgba(51,63,65,1) 97%);
    
}

.nav-item {
	padding: 10px 15px;
    justify-content: center;
	text-transform: uppercase;
	text-align: center;
	display: block;
    text-decoration: none;
}
